{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": ["warn"],
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["strictCamelCase"]
      },
      {
        "selector": "variable",
        "format": ["strictCamelCase", "UPPER_CASE"]
      },
      {
        "selector": "parameter",
        "format": ["strictCamelCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "enumMember",
        "format": ["strictCamelCase", "StrictPascalCase"]
      },
      {
        "selector": "typeLike",
        "format": ["StrictPascalCase"]
      },
      {
        "selector": "typeProperty",
        "format": ["StrictPascalCase", "strictCamelCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "memberLike",
        "modifiers": ["private"],
        "format": ["strictCamelCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "memberLike",
        "modifiers": ["protected"],
        "format": ["strictCamelCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "objectLiteralProperty",
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "allow"
      }
    ],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "require-jsdoc": [
      "warn",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ],
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "import/order": "off",
    "no-dupe-class-members": "off",
    "no-shadow": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@apollo/client",
            "message": "@apollo/client/core must be used instead (default client requires react, which isn't suitable for a library)"
          }
        ]
      }
    ]
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "extends": ["standard", "semistandard", "plugin:@typescript-eslint/recommended", "prettier"],
  "ignorePatterns": [
    "src/polkadot/",
    "src/middleware/types.ts",
    "src/middleware/typesV6.ts",
    "docs/*",
    "src/sandbox.ts"
  ]
}
